Source: wfs-geocoder
Section: python
Priority: optional
Maintainer: Baev Aleksandr <old_bay@mail.ru>
Build-Depends: debhelper,
               dh-python,
               python-all,
               python-setuptools,
               python-owslib
Standards-Version: 3.9.5.0
X-Python-Version: 2.7

Package: python-wfs-geocoder
Architecture: all
Section: python
Depends: ${misc:Depends},
         python-owslib
Description: Python WFS Geocoder.
